{%extends 'main.html'%}

{%block content%}

    <h1>Projects</h1>

    <table>
        <tr>
            <th>Project</th>
            <th>Votes</th>
            <th>Positive Votes </th>
            <th>Created Time</th>
            <th>More</th>
            <th></th>
            <th></th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{project.title}}</td>
                <td>{{project.vote_total}}</td>
                <td>{{project.vote_ratio}}%</td>
                <td>{{project.created}}</td>
                <td><a href="{%url 'project' project.id%}">View</a></td>
                <td><a href="{%url 'update-project' project.id%}">Edit</a></td>
                <td><a href="">Delete</a></td>

  
            </tr>
        {%endfor%}
    </table>

    <ul>

    </ul>
    <button style="color: green; background-color: green;"><a href="{%url 'create-project'%}" style="color: white ; font-style: normal; text-decoration: none;">ADD</a></button>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Debitis, laborum placeat libero, atque nulla quibusdam sequi labore,
        consequuntur voluptatum perspiciatis repellendus veniam in praesentium explicabo
        fugiat inventore molestias harum illum.</p>


{%endblock content%}
